@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.homepage {
    background-color: $secondary-color;

    &__hero {
        background-image: url("../../assets/images/maxim-hopman-52Kf36w124Y-unsplash.jpg");
        background-size: 93.75rem;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__hero-text {
        margin: 0;
        color: $secondary-text-color;
        vertical-align: middle;
        text-shadow: 0.125rem 0.125rem 0.5rem black;

        @include desktop {
            @include desktopSubheader;
            margin: auto 0.5rem;
        }
    }

    &__description {
        text-align: center;
        margin: 5rem;
    }

    &__description-heading {
        color: $primary-text-color;

        @include desktop {
            @include desktopPageHeader;
        }
    }

    &__description-text {
        color: $accent-text-color;

        @include desktop {
            @include desktopBody;
        }
    }

    &__cities {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin: 5rem;
    }
}
