// Breakout points

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

// FONTS
$main-font: "Abril Fatface";
$accent-font: "Source Sans Pro";

// primary background colors
$primary-color: #e8e8e8;
$secondary-color: #f05454;
$accent-color: #30475e;

// primary text colors
$primary-text-color: #222831;
$secondary-text-color: #e8e8e8;

// Padding
$vertical-padding-mobile: 1rem;
$vertical-padding-tablet: 3rem;
$vertical-padding-desktop: 8rem;
$section-padding-mobile: 1rem;

// Border Radius
$border-radius: 1.25rem;
