@use "./_variables.scss" as *;

// BREAKPOINTS
@mixin mobile {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

// MOBILE FONT
@mixin mobilePageHeader {
    font-size: 2.5rem;
    font-family: "Abril Fatface";
}

@mixin mobileSubheader {
    font-size: 2rem;
    font-family: "Abril Fatface";
}

@mixin mobileCTA {
    font-size: 1.75rem;
    font-family: "Abril Fatface";
}

@mixin mobileBody {
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
}

@mixin mobileBodySmall {
    font-size: 0.75rem;
    font-family: "Source Sans Pro";
}

// TABLET FONT
@mixin tabletPageHeader {
    font-size: 4rem;
    font-family: "Abril Fatface";
}

@mixin tabletSubheader {
    font-size: 2.5rem;
    font-family: "Abril Fatface";
}

@mixin tabletCTA {
    font-size: 2.5rem;
    font-family: "Abril Fatface";
}

@mixin tabletBody {
    font-size: 2rem;
    font-family: "Source Sans Pro";
}

@mixin tabletBodySmall {
    font-size: 1.5rem;

    font-family: "Source Sans Pro";
}

// DESKTOP FONT
@mixin desktopPageHeader {
    font-size: 3rem;
    font-family: "Abril Fatface";
}

@mixin desktopSubheader {
    font-size: 2.5rem;
    font-family: "Abril Fatface";
}

@mixin desktopCTA {
    font-size: 2rem;
    font-family: "Abril Fatface";
}

@mixin desktopBody {
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
}

@mixin desktopBodySmall {
    font-size: 1rem;
    font-family: "Source Sans Pro";
}

// ANIMATIONS
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

// BUTTON
@mixin mobileButton {
}

@mixin tabletButton {
}

@mixin desktopButton {
}
