@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.city-button {
    background-color: $secondary-color;
    border-radius: 25%;
    padding: 0.5rem;
    color: $primary-text-color;

    @include desktop {
        @include desktopCTA;
    }
}
